[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/glabstractions"]
	path = external/glabstractions
	url = https://github.com/yashchaurasia667/gl_abstractions
